# General ignores
.DS_Store
.idea
.vscode

# Backend crap
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
bin
tmp

# Frontend crap
public/static/css/tw.css
node_modules

# other random crap
.env
