package layout

templ Head() {
	<head>
		@Scripts()
		@Links()
	</head>
}

templ Scripts() {
	@HtmxScript()
}

templ HtmxScript() {
	<script src="assets/js/htmx.min.js" type="text/javascript"></script>
}

templ Links() {
	@CSSLink()
}

templ CSSLink() {
	<link href="assets/css/style.css" rel="stylesheet">
}
